/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.nav {
  padding: 25px;
}

ul,
li {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.timer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 25px;
}

.field {
  text-align: center;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 600;
}

.click-back {
padding:25px;
}

.value {
  font-size: 24px;
}

#datetime-picker {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 25px;
}

button[data-start] {
  padding: 10px 20px;
  background-color: #ccc;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[data-start]:hover {
  background-color: #0056b3;
  color: #fff;
}